# =========================
# CACHE PYTHON
# =========================
__pycache__/
*$py.class

# =========================
# ENVIRONNEMENT VIRTUEL
# =========================
venv/
.venv/

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
.DS_Store